In [21]:
#Heryawan Eko Saputro / A11.2022.14237
import pandas as pd
import neattext.functions as ntf
daset = pd.read_csv("emotion_dataset.csv")

In [22]:
# apakah ada missing values ?
daset.isnull().sum()

Unnamed: 0      0
Emotion         0
Text            0
Clean_Text    466
dtype: int64

In [23]:
# mengisi value hilang
daset = daset.fillna(method='ffill')

C:\Users\ACER\AppData\Local\Temp\ipykernel_18572\924808497.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  daset = daset.fillna(method='ffill')

In [24]:
# mengisi value hilang
daset = daset.drop_duplicates()

In [25]:
#pembersihan kata kata
daset['Clean_Text'] = daset['Text'].apply(ntf.remove_stopwords)
daset['Clean_Text'] = daset['Clean_Text'].apply(ntf.remove_punctuations)
daset['Clean_Text'] = daset['Clean_Text'].apply(ntf.remove_userhandles)
daset[['Text', 'Clean_Text']]

,Text,Clean_Text
0,Why ?,
1,Sage Act upgrade on my to do list for tommorow.,Sage Act upgrade list tommorow
2,ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...,WAY HOMEGIRL BABY FUNERAL MAN HATE FUNERALS SH...
3,Such an eye ! The true hazel eye-and so brill...,eye true hazel eyeand brilliant Regular feat...
4,@Iluvmiasantos ugh babe.. hugggzzz for u .! b...,ugh babe hugggzzz u babe naamazed nga ako e...
...,...,...
34787,@MichelGW have you gift! Hope you like it! It'...,gift Hope like it hand wear Itll warm Lol
34788,The world didnt give it to me..so the world MO...,world didnt meso world DEFINITELY cnt away
34789,A man robbed me today .,man robbed today
34790,"Youu call it JEALOUSY, I call it of #Losing YO...",Youu JEALOUSY #Losing YOU
34791,"I think about you baby, and I dream about you ...",think baby dream time